.animated-stroke-svg {
  width: 100%;
  height: auto;
  max-height: 500px;
}

.animated-stroke-text {
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 132px;
  fill: transparent;
  animation: stroke 5s infinite alternate;
}

@keyframes stroke {
  0% {
    stroke: white;
    stroke-width: 0;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
  }
  70% {
    stroke: white;
  }
  80% {
    stroke: white;
    stroke-width: 3;
  }
  100% {
    stroke: white;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
  }
}
